body {
  background-color: #dedede;  /* light grey */
  text-align: center;         /* center text horizontally */
  font-family: Arial, sans-serif; /* optional: nice readable font */
  padding-top: 50px;         /* gives breathing room from the top */
}

.link-stack a {
  display: block;
  margin: 10px 0;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.link-stack a:visited {
  color: #000000;
}

.link-stack a:hover {
  color: #000000; /* #00025e */
  text-decoration: underline;
}

.text-background {
  background-color: #999999;
  max-width: calc(100vw - 80px);
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.4);
}